.urna div.window-right .confirmations {
    margin: 10px;
}

/* Button confirmation white */
.urna div.window-right .confirmations .button-confirmation-white {
    height: 40px;
    width: 94px;
    background-color: #444444;
    font-size: 20px;
    position:relative;
    border: #444444;
}

.urna div.window-right .confirmations .button-confirmation-white a{
    color:black;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:20px;
    text-decoration:none;
    background-color:white;
    display:block;
    position:relative;
    padding:20px 0;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);

    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 gray;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 gray;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 6px 0 gray;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
  
.urna div.window-right .confirmations .button-confirmation-white a:active{
    top:10px;
    background-color:white;

    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 gray;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 gray;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 gray;
}
  
.urna div.window-right .confirmations .button-confirmation-white:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* Button confirmation orange */
.urna div.window-right .confirmations .button-confirmation-orange {
    height: 40px;
    width: 100px;
    background-color: #444444;
    font-size: 20px;
    position:relative;
    border: #444444;
}

.urna div.window-right .confirmations .button-confirmation-orange a{
    color:black;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:20px;
    text-decoration:none;
    background-color:#FFA12B;
    display:block;
    position:relative;
    padding:20px 0;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);

    -webkit-box-shadow:inset 0 1px 0 #915100, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #915100, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #915100, 0 6px 0 #915100;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
  
.urna div.window-right .confirmations .button-confirmation-orange a:active{
    top:10px;
    background-color:#F78900;

    -webkit-box-shadow:inset 0 1px 0 #915100, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #915100, inset 0 -3px 0 #915100;
    box-shadow:inset 0 1px 0 #915100, inset 0 -3px 0 #915100;
}
  
.urna div.window-right .confirmations .button-confirmation-orange:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* Button confirmation green */
.urna div.window-right .confirmations .button-confirmation-green {
    height: 50px;
    width: 130px;
    background-color: #444444;
    font-size: 20px;
    position:relative;
    border: #444444;
}

.urna div.window-right .confirmations .button-confirmation-green a{
    color:black;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:22px;
    text-decoration:none;
    background-color:green;
    display:block;
    position:relative;
    padding:20px 0;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);

    -webkit-box-shadow:inset 0 1px 0 #446A46, 0 10px 0 #446A46;
    -moz-box-shadow:inset 0 1px 0 #446A46, 0 10px 0 #446A46;
    box-shadow:inset 0 1px 0 #446A46, 0 6px 0 #446A46;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
  
.urna div.window-right .confirmations .button-confirmation-green a:active{
    top:10px;
    background-color:green;

    -webkit-box-shadow:inset 0 1px 0 #446A46, inset 0 -3px 0 #446A46;
    -moz-box-shadow:inset 0 1px 0 #446A46, inset 0 -3px 0 #446A46;
    box-shadow:inset 0 1px 0 #446A46, inset 0 -3px 0 #446A46;
}
  
.urna div.window-right .confirmations .button-confirmation-green:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}