* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.urna {
    display: flex;
    height: 500px;
    width: 1000px;
    background: whitesmoke;
    border-radius: 10px;
}

.urna div.window-left {
    margin: 40px;
    height: 420px;
    width: 600px;
    background-color: black;
}

.urna div.window-right {
    margin-top: 50px;
    margin-right: 40px;
    height: 400px;
    width: 400px;
    background-color: #444444;
}
