* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.urna {
    display: flex;
    height: 500px;
    width: 1000px;
    background: whitesmoke;
    border-radius: 10px;
}

.urna div.window-left {
    margin: 40px;
    height: 420px;
    width: 600px;
    background-color: black;
}

.urna div.window-right {
    margin-top: 50px;
    margin-right: 40px;
    height: 400px;
    width: 400px;
    background-color: #444444;
}

.urna div.window-right .numbers .span {
    margin: 30px;
}

.urna div.window-right .numbers .span .button {
    height: 60px;
    width: 80px;
    margin: 7px;
    background-color: black;
    color: aliceblue;
    font-size: 40px;
}

.urna div.window-right .confirmations {
    margin: 10px;
}

.urna div.window-right .confirmations .button-white {
    height: 60px;
    width: 100px;
    background-color: white;
    font-size: 20px;
}

.urna div.window-right .confirmations .button-orange {
    height: 60px;
    width: 100px;
    background-color: orangered;
    font-size: 20px;
}

.urna div.window-right .confirmations .button-green {
    height: 60px;
    width: 120px;
    background-color: green;
    font-size: 20px;
}

