.urna .window-left .window .div-president {
    margin-bottom: 10px;
}

.urna .window-left .window .div-president .president {
    font-size: 40px;
    font: bold;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.urna .window-left .window .data {
    width: 500px;
    height: 300px;
    display: flex;
    margin-top: 50px;
}

.urna .window-left .window .data .info {
    margin: 10px 0 10px 0;
    width: 110px;
}

.urna .window-left .window .data .info-item {
    font-size: 25px;
    font: bold;
    margin: 20px;
}

.urna .window-left .window .data .info-res {
    margin: 10px 0 10px 30px;
}

.urna .window-left .window .data .info-item-res {
    font-size: 25px;
    font: bold;
    padding-top: 17px;
    width: 120px;
}

.urna .window-left .window .data .info-item-res .first-number {
    border: 1px solid;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 4px;
    height: 30px;
    width: 12px;
    max-height: 3;
    display: inline-block;
    position: absolute;
}

.urna .window-left .window .data .info-item-res .second-number {
    border: 1px solid;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 4px;
    height: 30px;
    width: 12px;
    margin-left: 29%;
    display: inline-block;
}

.urna .window-left .window .data .photo {
    font-size: 20px;
    margin: 10px 0 10px 100px;
    height: 250px;
    width: 200px;
}