.urna .window-left .window .div-president {
    margin-bottom: 10px;
}

.urna .window-left .window .div-president .president {
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.urna .window-left .window .data {
    width: 500px;
    height: 200px;
    display: flex;
    margin-top: 50px;
}

.urna .window-left .window .data .info {
    margin: 10px 0 10px 0;
    width: 110px;
}

.urna .window-left .window .data .info-item {
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
}

.urna .window-left .window .data .info-res {
    margin: 10px 0 10px 30px;
}

.urna .window-left .window .data .info-item-res {
    font-size: 25px;
    font-weight: bold;
    padding-top: 17px;
    width: 120px;
}

.urna .window-left .window .data .info-item-res .first-number {
    border: 1px solid;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 4px;
    height: 30px;
    width: 12px;
    max-height: 3;
    display: inline-block;
    position: absolute;
}

.urna .window-left .window .data .info-item-res .second-number {
    border: 1px solid;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 4px;
    height: 30px;
    width: 12px;
    margin-left: 29%;
    display: inline-block;
}

.urna .window-left .window .data .photo {
    font-size: 20px;
    margin: 10px 0 10px 100px;
    height: 250px;
    width: 200px;
}

.urna .window-left .window .data .photo .photo-img {
    border-top: 1px solid;
    border-left: 1px solid;
}

.urna .window-left .window .footer {
    border-top: 1px solid;
}

.urna .window-left .window .footer .footer-title {
    margin: 15px 0 0 20px;
    font-weight: bold;
}

.urna .window-left .window .footer .footer-info {
    margin: 5px 0 0 40px;
    font-weight: bold;
}

.urna .window-left .window .footer .footer-invalid-candidate {
    margin: 4%;
    justify-content: center;
    text-align: center;
    font-weight:lighter;
    font-size: 40px;
}

.urna .window-left .window .footer .footer-null-vote {
    margin: 4%;
    justify-content: center;
    text-align: center;
    font-weight:lighter;
    font-size: 40px;
}

.urna .window-left .window-end .end {
    justify-content: center;
    text-align: center;
    font-weight:lighter;
    font-size: 150px;
    margin-top: 25%;
}